<header>
    <% if (user) { %>
      <h1>Bienvenido, <%= user.displayName %></h1>
      <a href="/logout">Cerrar sesión</a>
    <% } else { %>
      <a href="/auth/google">Iniciar sesión con Google</a>
    <% } %>
  </header>
  