<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Sencillo</title>
</head>
<body>
    <form class="form">
        <div class="input-group">
            <label for="email">Email</label>
            <input id="email" type="text" placeholder="Ingrese su Email" class="input">
        </div>
        <div class="input-group">
            <label for="password">Contrase침a</label>
            <input id="password" type="password" placeholder="Ingrese su Contrase침a" class="input">
        </div>
        <button class="button-submit">Iniciar Sesi칩n</button>
        <a href="/auth/google">Iniciar sesi칩n con Google</a>
    </form>
</body>
</html>
